.auth {
  background: #1d4350; /* fallback for old browsers */
  background: linear-gradient(to right, #a43931, #1d4350);

  display: flex;
  justify-content: center;

  flex-direction: column;
  
  align-items: center;
  
  .card {
    width: 100%;

    max-width: 500px; 

}

}
